@import "@/styles/variables.scss";
.logoImage {
  max-width: 100px;
}
.linkPanel {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    min-width: 300px;
    margin-top: 10px;
    gap: 15px;
  a {
    color: $font-color;
  }
  label {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg {
      font-size: 22px;
      margin-left: 5px;
    }
    .subLinksPanel {
      display: block;
      position: absolute;
      top: 40px;
      left: -30px;
      width: 255px;
      padding: 0px 8px 10px 15px;
      border: 2px solid #e0e0e0;
      background-color: #fff;
      box-shadow: 0px 4px 8px rgb(0 0 0 / 11%);
      border-radius: 8px;
      z-index: 1;
      li {
        padding: 12px 10px 0px 10px;
      }
      &:after {
        content: "";
        position: absolute;
        left: 19px;
        top: -12px;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: 14px solid white;
        border-left: 10px solid transparent;
        border-right: 13px solid transparent;
        transform: rotate(180deg);
        z-index: 1;
      }
      svg {
        position: absolute;
        top: -17px;
        left: 15px;
        fill: #e0e0e0;
        z-index: 2;
      }
      a {
        font-size: 14px;
      }
    }
  }
}